<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime relaxedUrlToFileSystemMapping="true" executionTimeout="2147483647" 
					 maxRequestLength="2147483647" maxQueryStringLength="2097151" maxUrlLength="2097151"
				     useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"
				     enableVersionHeader="true" />
		<customErrors mode="Off"/>
    </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" maxQueryString="2097151" maxUrl="2097151" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
